$correct-color: #00E676;
$incorrect-color: #FF8A80;

.chip-wrapper {
  border: 1px solid yellow;
  height: 100px;
  margin: 10px 5px;
  border-radius: 10px;
  border-width: 3px;
  font-size: 26px;
  font-family: cursive;
  .include {
    color: $correct-color;
    font-size: 16px;
  }
  .exclude {
    color: $incorrect-color;
    font-size: 16px;
  }
}

.correct {
  border-color: $correct-color
}

.incorrect {
  border-color: $incorrect-color;
}
