.chip-wrapper {
  border: 1px solid yellow;
  height: 100px;
  margin: 10px 5px;
  border-radius: 10px;
  border-width: 3px;
  font-size: 26px;
  font-family: cursive;
}

.correct {
  border-color: #00E676;
}

.incorrect {
  border-color: #FF8A80;
}
